{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Watabout</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsa repudiandae cupiditate eos? Doloremque impedit officia doloribus ducimus cum mollitia et modi ipsa, nemo nobis in nesciunt exercitationem dolorum eos!</p>
    </div>

    
        <img src="assets/img/1.jpg" alt="img-thumbnail">
    
</div>

{{> footer}}